certifi==2017.11.5
chardet==3.0.4
-e git+https://luflores@github.com/luflores/dcnmtoolkit.git@0aabd052f8a4f723105a4f2220e91bb1813fa089#egg=dcnmtoolkit
deepdiff==3.3.0
idna==2.6
ipaddress==1.0.19
jsonpickle==0.9.5
requests==2.18.4
urllib3==1.22
